<a href="https://colab.research.google.com/github/Narsing-Thorat18/innomatics_internship_tasks-Narsing-/blob/main/narsing13feb_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Internship 13 feb task***

 **Problem 1: Unique Words in a Sentence**

In [ ]:
# Taking input
sentence = input("Enter sentence: ")

# Splitting sentence into words
words = sentence.split()
unique_words = set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'python', 'easy', 'powerful', 'is', 'and'}

**Problem 2: Highest Salary from Employee Data**

In [ ]:
#dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# employee with highest salary
highest_paid = max(employees, key=employees.get)
print(f"Highest Salary: {highest_paid} - {employees[highest_paid]}")

Highest Salary: Ravi - 75000

**Problem 3: Find Maximum and Minimum Values**

In [ ]:
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with the first element
maximum = numbers[0]
minimum = numbers[0]
# Loop in list
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

**Problem 4: Count Products Above a Price Threshold**

In [ ]:
# Input list
prices = [450, 1200, 899, 1500, 300]
# Initialize counter
count = 0
# Loop in list
for price in prices:
    if price > 1000:
        count += 1
# Output result
print("Products above 1000:", count)

Products above 1000: 2

****

**Problem 5: Calculate Attendance Percentage**

In [ ]:
# Input list
attendance = ["P", "P", "A", "P", "P"]

# Count total days
total_days = len(attendance)

# Count present days
present_count = 0
for day in attendance:
    if day == "P":
        present_count += 1

# Calculate percentage
percentage = (present_count / total_days) * 100

# Output result
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

**Problem 6: Remove Duplicate Phone Numbers**

In [ ]:
# Input list
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

# Output result
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

**Problem 7: Count Character Frequency**

In [ ]:
text = "pythonp"
char_count = {}
# Loop through each character
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

**Problem 8: Convert List to Tuple**

In [ ]:
# list
numbers = [10, 20, 30]

# Conversion
numbers_tuple = tuple(numbers)
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

**Problem 9: Check if a Key Exists in a Dictionary**

In [ ]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
# Key check
key_name = "Ravi"
# Checking key existstance
if key_name in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

**Problem 10: Calculate Average Marks**

In [ ]:
marks = [72, 72, 73, 73]

#total marks
total = sum(marks)
#number of subjects
count = len(marks)
#average
average = total / count
print("Average Marks:", average)

Average Marks: 72.5